html {
  font-family: Helvetica;
  display: inline-block;
  margin: 5px auto;
  text-align: center;
}
* {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

h1 {
  color: #1188F2;
  padding: 1vh;
  display: block;
  font-size: 3em;
  margin-top: 0.17em;
  margin-bottom: 0.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  color: #070707;
  padding: 1vh;
  display: block;
  font-size: 2em;
  margin-top: 0.17em;
  margin-bottom: 0.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  color: #070707;
  padding: 1vh;
  display: block;
  font-size: 1em;
  margin-top: 0.17em;
  margin-bottom: 0.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.button {
  display: inline-block;
  background-color: #28B463;
  border: none;
  border-radius: 1px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  margin: 2px;
  
}
.button2 {
  display: inline-block;
  background-color: #F23D11;
  border: none;
  border-radius: 1px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  margin: 2px;
  
}

