html {
  font-family: Helvetica;
  display: inline-block;
  margin: 5px auto;
  text-align: center;
}
.dht-labels{
    font-size: 1.5rem;
    vertical-align:middle;
    padding-bottom: 15px;
  }
.button {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  
}
.button2 {
  background-color: #555555;
}
